.cards {
    flex: 1;
    padding: 1rem;
    margin: 1rem;
    border: solid 1px #f4ebe8;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f4ebe8;
    max-width: 200px;
}

.blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #101d42;
    width: 60%;
    margin: 0 auto 1rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

a {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.5rem;
    color: inherit;
}

.cards a:visited {
    color: #326273;
}

@media screen and (min-width:1000px) {
    .blogs-container {
        width: 95%;
    }
}