
/* Main content */

h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem 1rem;
    
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
    width: 70%;
    margin: 2rem auto;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
#blog-info {
    
}
#blog-pic img {
    padding: 1rem;
}
/* Return to blogs button */
.blog-btn a {
    color: #f4ebe8;
}

.blog-btn {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: 10%;
    background: #326273; 
}


