main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work-history-info {
    width: 70vw;
}

#resume-btn {
    font-family: 'Alumni Sans', sans-serif;
    margin: 2rem;
    padding: .5rem 1rem;
    border: solid 2px #326273;
    color: #326273;
    border-radius: 8%;
}

main a:hover {
    font-size: 3rem;
}
main a:visited {
    color: grey;
}