/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-align: center;
}

main h1 {
    font-size: 4rem;
    color: #326273;
}

main h3 {
    font-size: 2rem;
}

main p {
    font-size: 1.5rem;
}

#profile {
    width: 50vw;
    padding: 1rem 0;
    border-radius: 50%
}

section {
    display: flex;
    flex-direction: column;
}

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
}
#social-links img {
    height: 15vw;
    padding: 1rem 0.5rem;
}


@media screen and (min-width: 800px) {
    #container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    main h1 {
        font-size: 6rem;
    }
    #profile {
        margin: 2rem auto;
        width: 60%;
    }
    #social-links img {
        height: 10vw;
    }
}