/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-align: center;
}

/* Font styles for page */
main h1 {
    font-size: 4rem;
    color: #326273;
}

main h3 {
    font-size: 2rem;
}

main p {
    font-size: 1.5rem;
}

/* Profile picture component */
#profile {
    width: 50vw;
    padding: 1rem 0;
    border-radius: 50%
}
/* All the different sections are to stack their details in a column */
section {
    display: flex;
    flex-direction: column;
}
/* Social link component */
#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
}
#social-links img {
    height: 15vw;
    padding: 1rem 0.5rem;
}

/* Layout change for desktop */
@media screen and (min-width: 810px) {
    #container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80vw;
    }

    main h1 {
        font-size: 6rem;
    }

    main h3 {
        padding-bottom: 2rem;
    }

    #profile {
        margin: 2rem auto;
        width: 60%;
    }
    
    #social-links img {
        height: 10vw;
    }
    #img {
        border-right: solid 2px black;
    }
    
}