/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4ebe8;
} 

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #326273;
}
#logo {
    height: 10vw; 
    border-radius: 50%;
}
nav a {
    padding-left: 1rem;
    text-decoration: none;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    color: #f4ebe8;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 5rem;
    padding: 1rem 0;
}

main p {
    font-family: 'Alumni Sans', sans-serif;
}



