
/* Main content */

h1 {
    text-align: center;
    font-size: 2rem;
    
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* animation-name: @blogpost; */
    width: 80%;
    margin: 0 auto;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#blog p {
    margin-bottom: 1rem;
}

#blog-pic img {
    padding: 1rem;
    width: 60vw;
}
/* Return to blogs button */
.blog-btn a {
    color: #f4ebe8;
}

.blog-btn {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: 10%;
    background: #326273; 
}

@media screen and (min-width: 600px) and (max-width: 920px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (min-width: 920px) {
    #blog-pic img {
        max-width: 300px;
    }
    #container {
        width: 70%;
    }

    #col {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

