/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4ebe8;
} 

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #326273;
    height: 10vh;
}
#logo {
    display: flex;
    height: 7vh; 
    border-radius: 50%;
}

#logo:hover {
    transform: scale(1.2)
}
/* Navigation component */
nav a {
    padding-left: 1rem;
    text-decoration: none;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    color: #f4ebe8;
    font-size: 1.5rem;
}

nav a:hover {
    color: black;
    text-decoration: underline;
    font-size: 2rem;
}
/* Main H1 heading for pages */

h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 5rem;
    padding: 1rem 0 0;
}
/* Basic font for pages */
main p {
    font-family: 'Alumni Sans', sans-serif;
}

/* Footer */
footer {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-align: center;
    /* display: fixed;
    bottom: 0; */
}




