#page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Main section */

main h1 {
    font-size: 5rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    padding: 1rem 0;
    text-align: center;
}

/* Heading and profile pic component */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-me-pic {
    width: 40vw;
    border-radius: 50%;
    margin-bottom: 2rem;
}
/* Information/text component */
#about-me-info {
    width: 50vw;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 10vh;
    /* text-align: center; */
}

#about-me-info p {
    margin-bottom: 1rem;
}

/* footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */
.position {
    bottom: 0;
}

/* Desktop view */
@media screen and (min-width: 900px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    #about-me {
        width: 40vw;
    }

    #about-me-info {
        width: 40vw;
    }
    #about-me-pic {
        width: 40vh;
    }
}

