h1 {
    text-align: center;
    font-size: 4rem;
}
/* Container for all blog posts */
.blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto 1rem;
}
/* Individual blog post cards */
.cards {
    flex: 1;
    padding: 1rem;
    margin: 1rem;
    border: solid 1px #f4ebe8;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #326273;
    max-width: 280px;
    border: 1px black solid;
}

/* Links styling */
a {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.5rem;
    color: inherit;
}

.cards a:visited {
    color: black;
}

@media screen and (min-width: 900px) {
    .cards {
        max-width: 200px;
        margin-bottom: 20vh;
    }
}